body {
  background: #FCF3CF;
}

table {
  border-collapse: separate;
  width: 100%;
}

.table1{
  border-collapse: separate;
  width: 70%;
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 10px;
    width: 250px;
}
    
tr:nth-child(even) {
     background-color: #dddddd;
    }

div{
  font-family: 'Alegreya', serif;
}

h1{
  font-family: 'Alegreya', serif;
  font-variant: small-caps;
  text-align: center;
}

h2{
  font-family: 'Alegreya', serif;
  font-variant: normal;
  font-size: smaller;
  color: #E59866;
}

img{
  margin: 5px 5px 5px 5px;
  width: 500;
}

p{
  margin: 5px 5px 5px 5px;
}

.th1{
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 30%;
  background-color: white;
}

.th2{
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 70%;
  background-color: white;
}
