body {
  background: #FCF3CF;
}

table {
  border-collapse: separate;
  width: 100%;
}

.table1{
  border-collapse: separate;
  width: 70%;
}
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 10px;
    width: 250px;
}
    
div{
  font-family: 'Poppins', sans-serif;
}

h1{
  font-family: 'Poppins', sans-serif;
  font-variant: small-caps;
  
}

h2{
  font-family: 'Poppins', sans-serif;
  font-variant: normal;
  font-size: smaller;
  color: #E59866;
}

img{
  margin: 5px 5px 5px 5px;
  width: 600;
}

p{
  margin: 5px 5px 5px 5px;
  font-variant: normal;
}

.th1{
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 30%;
  background-color: white;
}

.th2{
  border: 2px solid #dddddd;
  text-align: left;
  padding: 10px;
  width: 70%;
  background-color: white;
}

div.relative {
  position: relative;
  left: 200px;
}

div.absolute {
  position: absolute;
  top: 130px;
}